{{> header}}
<div class="container">
  <h2 class="text--center">{{user.first_name}}'s favorieten</h2>
  <main class="row"></main>
  {{#each fav}}
  <div class="col-sm-12">
    <div class="card">
      <div class="card__image">
        <img src="{{this.photo}}" alt="">
      </div>
      <div class="card__header">
        <h5 class='card__title'>{{this.directions.address}}</h5>
      </div>
      <div class="card__content">
        <div class="row">
          <div class="col-sm-4">
            <p class='text-secondary'>{{this.info.type}}</p>
          </div>
          <div class="col-sm-4">
            <p class="text--center text-bold">€{{this.price.price}}</p>
          </div>
          <div class="col-sm-4">
            <button class="btn btn--large btn--danger delbtn" id='del__{{this.room_id}}'>Verwijder</button>
          </div>
        </div>
        <p>{{this.extra}}</p>
      </div>
    </div>
  </div>
  {{/each}}
  </main>
</div>
{{> footer}}