<div class="container container--fill filter filter--up" id="filters">
  <div class="container">
    <h1>Filters</h1>
    <form action="" method='GET' class="form">
      <div class="row">
        <div class="col-sm-12">
          <p class='text-bold text-primary'>Prijs</p>
          <p>Tussen <input type="number" id="minPrice" class='form__input form__input--inline'> en <input type="number" id="maxPrice" class='form__input form__input--inline'> euro.</p>
        </div>
        <div class="col-sm-12">
          <p class="text-bold text-primary">Afstand</p>
          <p>Tussen <input type="number" id="minDistance" class='form__input form__input--inline' maxlength="4"> en <input type="number" id="maxDistance" class='form__input form__input--inline' maxlength="4"> km.</p>
        </div>
        <div class="col-sm-12">
          <p class="text-bold text-primary">Type</p>
          <div class="col-sm-4">
            <input type="radio" name="filterType" id="" value="Kamer"><span>Kamer</span>
          </div>
          <div class="col-sm-4">
            <input type="radio" name="filterType" id="" value="Studio"><span>Studio</span>
          </div>
          <div class="col-sm-4">
            <input type="radio" name="filterType" id="" value="All" checked><span>Beide</span>
          </div>
        </div>
        <div class="col-sm-12">
          <p class="text-bold text-primary">Oppervlakte</p>
          <p><input type="number" id="filterArea" class='form__input form__input--inline'> m²</p>
        </div>
        <div class="col-sm-12">
          <input type="submit" id='addFilters' value="Filter" class='btn btn--large btn--primary'>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-sm-6">
        <button class='btn btn--large text-danger' id='cancelFilter'>Cancel</button>
      </div>
    </div>
  </div>
</div>
{{> header }}
<div class="container">
  <h1>{{ title }}</h1>
  <div class="row">
    <div class="col-sm-12">
      {{#if ownerMode}}
      <div class="col-sm-12">
        <a href="#/rooms/new"><button class='btn btn--large btn--primary text-light' >Nieuw</button> </a>
      </div>
      {{else}}
      <div class="col-sm-12">
        <button class='btn btn--large btn--primary' id='filterBtn'><span>Filter</span></button>
      </div>
      {{/if}}
    </div>
  </div>
  <div class="row">
    {{#each rooms}}
      <div class="col-sm-12 col-md-6 col-xl-4">
        <a href="#/rooms/{{this.room_id}}" data-navigo>
          <div class="card">
            <div class="card__image">
              <img src="{{this.photo}}" alt="">
            </div>
            <div class="card__header">
              <h5 class='card__title'>{{this.directions.address}}</h5>
            </div>
            <div class="card__content">
              <div class="row">
                <div class="col-sm-4">
                  <p class='text-secondary'>{{this.info.type}}</p>
                </div>
                <div class="col-sm-4">
                  <p class="text--center text-bold">€{{this.price.price}}</p>
                </div>
                {{#if ownerMode}}
                {{else}}
                <div class="col-sm-4">
                  <p class="text--right text-primary">{{this.distance}}km</p>
                </div>
                {{/if}}
              </div>
              <p>{{this.extra}}</p>
            </div>
          </div>
        </a>
      </div>
    {{else}}
    <div class="col-sm-12 m-bottom-10">
      <p>Helaas, er zijn op dit moment geen beschikbare kamers.</p>
    </div>
    {{/each}}
  </div>
</div>
{{> footer }}